<?xml version="1.0" encoding="utf-8"?>

<launch>

  <node name="art_planner" pkg="art_planner_ros" type="art_planner_ros_node" output="screen" >

    <remap from="~elevation_map" to="/elevation_mapping/elevation_map_raw"/>
    <remap from="~path_following/goal" to="/local_guidance_path_manager/follow_global_path/goal"/>
    <remap from="~path_following/result" to="/local_guidance_path_manager/follow_global_path/result"/>
    <remap from="~cost_query" to="/art_planner/motion_cost_server/cost_query"/>
    <remap from="~cost_query_no_update" to="/art_planner/motion_cost_server/cost_query_no_update"/>

    <rosparam command="load" file="$(find art_planner_ros)/config/params.yaml"/>

  </node>


  <group ns='art_planner' >

    <node name="motion_cost_server" pkg="art_planner_motion_cost" type="cost_query_server.py" output="screen">
      <remap from="~map" to="/elevation_mapping/elevation_map_raw" />

      <rosparam command="load" file="$(find art_planner_motion_cost)/config/config.yaml"/>
    </node>

    <node name="plan_to_goal_client" pkg="art_planner_ros" type="plan_to_goal_client.py" output="screen" />

  </group>



</launch>
